html {
    height: 100%;
}

body {
    font-family: arial, sans-serif;
}

#nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 14px;
    font-size: 13px;
}

li a {
    color: rgb(73, 73, 73);
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

#nav-left {
    display: flex;
    align-items: center;
    padding-left: 23px;
}

#nav-left li {
    padding-right: 15px;
}

#nav-right {
    display: flex;
    align-items: center;
    padding-right: 8px;
}

#nav-right li {
    padding-right: 15px;
}

#apps-icon img {
    width: 25px;
}

#headshot img {
    width: 33px;
    border-radius: 100%;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    min-height: 100%;
}

#google-logo {
    display: flex;
    justify-content: center;
}

#search-bar-div {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center;
    margin-top: 8%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    width: 475px;
    border-radius: 60px;
    border: lightgray 1px solid;
    height: 40px;
}

#search-bar-div:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#search-bar {
    outline: none;
    border: none;
    width: 80%;
    font-size: 15px;
}

#mg-img {
    width: 23px;
    padding-left: 18px;
    padding-top: 3px;
}

#mic-img {
    width: 19px;
    padding-right: 20px;
}

button {
    outline: none;
}

#search-buttons-div {
    display: flex;
    justify-content: center;
}

.search-buttons {
    border: 2px white solid;
    padding: 10px;
    background-color: rgb(243, 243, 243);
    color: rgb(73, 73, 73);
    border-radius: 5px;
}

.search-buttons:hover {
    border: lightgray 2px solid;
}

#left-button {
    margin-right: 5px;
}

#right-button {
    margin-left: 5px;
}

#footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    border-top: 1px solid #c2c2c2;
    background-color: #f2f2f2;
    color: rgb(73, 73, 73);
    font-size: 14px;
}

#footer-left {
    display: flex;
    margin-left: 23px;
}

#footer-left li {
    padding-right: 15px;
}

#footer-right {
    display: flex;
    margin-right: 23px;
}

#footer-right li {
    padding-right: 15px;
}